{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<form action="/application-success" method="POST">
  <label>First Name <br><input type="text" name="first_name" placeholder="Mel" required></label>
  <label>Last Name <br><input type="text" name="last_name" placeholder="Melitopolski" required></label>
  <label>Salary USD <br><input type="text" name="salary" placeholder="100,000.00" required></label>
    <select name="job" required>
      <option value="Software Engineer">Software Engineer</option>
      <option value="QA Engineer">QA Engineer</option>
      <option value="Product Manager">Product Manager</option>
    </select>
  <div class="submit">
    <input type="submit" class="btn btn-default" href="/application-success">
  </div>        
</form>
{% endblock %}
